
        body {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            background:radial-gradient(blue,green,yellow);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .container {
            background-color: #2d8ba7;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
            padding: 3rem;
            width: 50%;
            max-width: 800px;
        }
        h1, h2 {
            color: #f9fcff;
            text-align: center;
            margin-bottom: 2rem;
        }
        #quiz-screen, #end-screen, #high-scores {
            display: none;
        }
        #question {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            color: #050505;
        }
        .btn {
            display: block;
            width: 100%;
            padding: 0.8rem;
            margin-bottom: 0.8rem;
            background-color: #db34c2;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .btn:hover {
            background-color: #d11c52;
        }
        #timer {
            text-align: center;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            color: #c51906;
        }
        #progress {
            text-align: right;
            margin-bottom: 1rem;
            color: #c9d1bc;
        }
        #result {
            text-align: center;
            font-weight: bold;
            margin-top: 1rem;
            font-size: 1.1rem;
        }
        .correct {
            background-color: #0bf16b;
        }
        .incorrect {
            background-color: #e74c3c;
        }
        input[type="text"] {
            width: 60%;
            padding: 0.8rem;
            margin-bottom: 1rem;
            border: 1px solid #bdc3c7;
            border-radius: 5px;
            font-size: 1rem;
        }
        #random-btn {
            width: 30%;
            padding: 0.8rem;
            margin-bottom: 1rem;
            background-color: #e62222;
            color: #ffffff;
            border: none;
            border-radius:25px;
            font-size: 1rem; 
            cursor: pointer;
        }
        #random-btn:hover {
            background-color: #d35400;
        }
        #navigation {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
        }
        #navigation button {
            width: 50%;
        }
        .selected {
            border: 2px solid #121915;
            background-color: #2f6f16;
        }